.wrapper{
    background: red;
}
.container{
    width: 1200px;
    margin: auto;
    padding-right: 10px ;
    padding-left: 10px;
    background: blue;
}
.sidebar{
    width: 400px;
    height: 600px;
    background: red;
    float: left;
}
.content{
    width: 800px;
    height: 600px;
    background: blue;
    float: right;
}